<table class="header">
    <tr>
        <td style="width: 50%;">
            <table>
                <tr><td><div class="logo-container"></div></td></tr>
                <tr><td class="small">Komplek Griya Mas Blok F No.9</td></tr>
                <tr><td class="small">Komplek Permata Balok Blok D2 No. 08</td></tr>
                <tr><td class="small">Ruko Mini Cahaya Garden Blok B3 No.18</td></tr>
                <tr><td class="small">Hp : 0812-617-9612</td></tr>
                <tr><td class="small">Email : lim_weida@yahoo.com</td></tr>
            </table>
        </td>

        <td style="width: 50%;">
            {% if not title %}
                    <div class="title">Report</div>
                    <div class="sub-title">{{judul}}</div>
                    <table class="report-table">
                        <tr>
                            <td class="pr-50">Tanggal</td>
                            <td>{{ "now"|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <td class="pr-50">Laporan</td>
                            <td>{{judul}}</td>
                        </tr>

                        {% if periode %}
                            <tr>
                                <td class="pr-50">Periode</td>
                                <td>{{periode}}</td>
                            </tr>
                        {% endif %}

                        {% if additional %}
                            {% for ad in additional %}
                                <tr>
                                    <td class="pr-50">{{ad.label}}</td>
                                    <td>{{ad.value}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
            {% else %}
                <div class="title">{{judul}}</div>
                <table class="report-table">
                    <tr>
                        <td class="pr-50">Tanggal</td>
                        <td>{{ "now"|date("d/m/Y") }}</td>
                    </tr>
                    <tr>
                        <td class="pr-50">Nomor</td>
                        <td>{{nomor}}</td>
                    </tr>
                </table>
            {% endif %}
        </td>
            
    </tr>
</table>

<hr class="mb-20">