<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Students of One Family Education Centre / 学生一家</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="icon" type="image/jpeg" href="{{base_url}}/public/web/assets/img/favicons/logo 1.jpeg">
    <meta name="msapplication-TileImage" content="{{base_url}}/public/web/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{base_url}}/public/web/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{base_url}}/public/web/assets/css/style.css" rel="stylesheet">
  
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{{base_url}}/public/web/assets/css/theme.css" rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{{base_url}}/public/web/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{{base_url}}/public/web/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="#top">
            <img class="me-3" style="width: 146px;" src="{{base_url}}/public/web/assets/img/gallery/logo.png" alt="" /></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" aria-current="page" href="#top">Beranda</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#pengumuman">Pengumuman</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#program">Tentang kami</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#promo">Promo</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#testimoni">Testimoni </a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#kontak">Kontak kami </a></li>
            </ul>
            <div class="ps-lg-5">
              <a class="order-0" href="{{base_url}}/admin" style="justify-content: center; padding:0">
                <button class="btn btn-outline-primary">Login</button>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <section class="py-0" id="home">
        <div class="bg-holder d-none d-md-block" style="background-image:url('{{base_url}}/public/web/assets/img/gallery/belajar.png');background-position:right bottom;background-size:contain;margin-top:1.5rem;margin-left:40rem;width: 15cm;height: 15cm;">
        </div>
        <!-- /.bg-holder -->

        <!-- <div class="bg-holder d-block d-md-none" style="background-image:url(/{{base_url}}/public/web/assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;margin-top:5.625rem;"> -->
        <!-- </div> -->
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center min-vh-md-75 mt-7">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
              <h1 class="mt-6 mb-sm-4 display-4 fw-light lh-sm fs-4 fs-lg-6 fs-xxl-7">Ayo <span class="text-primary">Daftarkan</span><br class="d-block d-lg-none d-xl-block" />diri anda.</h1>
              <p class="mb-5 fs-1 lh-lg">Kami selalu tersedia untuk membantu anda dalam kesulitan dalam pembelajaran</p><a class="btn btn-lg btn-primary hover-top btn-glow" href="#kontak">Daftar sekarang
                
                <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>

              <div class="mt-5 mt-xl-6">
                <ul class="list-unstyled list-inline mb-0">
                  <li class="list-inline-item me-3"><a class="text-decoration-none" href="{{konfigurasi.facebook}}" target="_blank">
                      <svg class="bi bi-facebook text-facebook" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                      </svg></a></li>

                  <li class="list-inline-item me-3"><a href="{{konfigurasi.whatsapp}}">
                      <svg class="bi bi-whatsapp" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                      </svg></a></li>

                  <li class="list-inline-item me-3"><a href="{{konfigurasi.instagram}}" target="_blank">
                      <svg class="bi bi-instagram text-instagram text-youtube" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"> </path>
                      </svg></a></li>

                  <li class="list-inline-item me-3"><a href="{{konfigurasi.tiktok}}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16"> <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/></svg></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

           <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section id="pengumuman" name="pengumuman">

          <div class="container">
            <div class="row">
              <div class="section-title">
                <h2>Pengumuman</h2>
                <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p> -->
              </div>
            </div>
            <div class="row flex-center h-100">
              <div class="col-xl-9">
                <div class="carousel slide" id="carouselEvents" data-bs-ride="carousel">
                  <div class="carousel-inner">

                    {% for pengumuman in pengumumans %}
                        <div class="carousel-item {{loop.first ? 'active' : ''}}" data-bs-interval="10000">
                            <div class="row h-100 justify-content-center">
                                {% for p in pengumuman %}
                                  <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow px-2 px-lg-3 card-span pt-4">
                                      <div class="text-center text-md-start card-hover">
                                        <div class="card-body">
                                          <div class="d-flex align-items-center">
                                              <span class="badge bg-soft-primary text-primary fs--1 fw-light p-3 rounded-1">
                                                  <span class="fw-medium fs-1 mb-2">{{p.tanggal|date('d')}}</span><br>{{p.tanggal|date('M')}}
                                              </span>
                                              <h6 class="fw-light fs-1 fs-lg-2 text-start ms-3">{{p.judul}}</h6>
                                          </div>

                                          <p class="mt-4 mb-md-0 mb-lg-3 fw-light lh-base text-start">{{p.isi}}</p>

                                          <div class="d-flex flex-between-center">
                                            <div class="card-body portfolio-links">
                                              <a 
                                                  class="btn btn-lg ps-0 pe-3 text-primary portfolio-lightbox" 
                                                  href="data:{{p.gambar.filetype}};base64, {{p.gambar.base64}}" 
                                                  role="button" 
                                                  data-gallery="portfolioGallery"
                                                  data-glightbox="type: image"
                                                  title="{{p.judul}}">Learn more
                                                  <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                  </svg>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                  <div class="row mt-3 flex-center">
                    <div class="col-auto position-relative z-index-2">
                      <ol class="carousel-indicators">
                        {% for pengumuman in pengumumans %}
                            <li class="{{loop.first ? 'active' : ''}} mx-2" data-bs-target="#carouselEvents" data-bs-slide-to="{{loop.index - 1}}"></li>
                        {% endfor %}
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->

    <!-- ======= Services Section ======= -->
    <section name="program" id="program" class="services">
      <div class="container">

        <div class="section-title">
          <h2 >Tentang kami</h2>
          <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p> -->
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100" name="promo" id="promo">
        <div class="container" >
          <div class="row">
            <div class="section-title">
              <h2>Promo</h2>
              <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p> -->
            </div>
          </div>
          <div class="row flex-center h-100">
            <div class="col-xl-9">
              <div class="row justify-content-center">
                {% for promo in promos %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span">
                            <img class="card-img-top" src="data:{{promo.gambar.filetype}};base64, {{promo.gambar.base64}}" />
                            <div class="card-body">
                            <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"></path>
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"> </path>
                            </svg><span class="fs--1">{{promo.tanggal|date('d M Y')}}</span>
                            <h5 class="fs-lg-1 my-3">{{promo.judul}}</h5>
                            </div>
                            <div class="card-body portfolio-links">                    
                            <a 
                              class="btn btn-lg ps-0 pe-3 text-primary portfolio-lightbox" 
                              href="data:{{promo.gambar.filetype}};base64, {{promo.gambar.base64}}" 
                              role="button" data-gallery="portfolioGallery" 
                              title="{{promo.judul}}" 
                              data-glightbox="type: image">Learn more
                                <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                </svg>
                            </a>   
                            <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i> </a>             -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </div>
            <!-- <div class="col-lg-12 d-flex justify-content-center my-3">
              <button class="btn btn-lg btn-primary fw-light" type="submit">Promo
                <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg>
              </button>
            </div> -->
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

 


         <!-- ======= Testimonials Section ======= -->
    <section name="testimoni" id="testimoni" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimoni</h2>
          <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="testimonials-slider swiper">
          <div class="swiper-wrapper">

            {% for testimoni in testimonis %}
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            {% if testimoni.tipe == 'l' %}
                                <iframe width="350px" height="300px" src="{{testimoni.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                            {% if testimoni.tipe == 'g' %}
                                <iframe width="350px" height="300px" src="data:{{testimoni.gambar.filetype}};base64, {{testimoni.gambar.base64}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

        <!-- ======= Contact Us Section ======= -->
    <section id="kontak" class="contact">
      <div class="container">

        <div class="row" >
          <div class="section-title">
            <h2>Kontak kami</h2>
            <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p> -->
          </div>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{konfigurasi.lokasi}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{konfigurasi.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{konfigurasi.no_hp}}</p>
              </div>

              <iframe src="{{konfigurasi.gmap}}" width="600" height="450" style="border:0; width: 100%; height: 290px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form method="post" role="form" class="php-email-form" action="{{base_url}}/submit/question">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" id="message" rows="10" placeholder="Silahkan isikan pertanyaan" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message">Maaf, periksa kembali internet anda !</div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->


      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Xue Sheng Yi Jia</strong>. All Rights Reserved
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#top">Beranda</a>
            <a href="#program">Tentang kami</a>
            <a href="#kontak">Kontak kami</a>
            <a href="#promo">Promo</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
      <a href="#top" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{base_url}}/public/web/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Vendor JS Files -->
    <script src="{{base_url}}/public/web/assets/vendor/aos/aos.js"></script>
    <script src="{{base_url}}/public/web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{base_url}}/public/web/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{base_url}}/public/web/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{base_url}}/public/web/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{base_url}}/public/web/assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="{{base_url}}/public/web/assets/js/main.js"></script>

      <!-- Vendor JS Files -->
  <script src="{{base_url}}/public/web/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  </body>

</html>