<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}
    </head>

    <body style="background-image:url({{background}})">
        
        <div class="container">
            {% include "Report/View/partial/header.twig" %}
            
            <div class="content">
                <table class="table-content">
                    <tr>
                        <th>No</th>
                        <th>Siswa</th>
                        <th>Nominal</th>
                    </tr>
                    {% for deposit in deposits %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ deposit.siswa.orang.nama }}</td>
                            <td>{{ deposit.nominal|number_format(0, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="bold">
                        <td class="bg-transparent" colspan="1"></td>
                        <td class="bg-red">Total</td>
                        <td class="bg-red">{{ total|number_format(0, ',', '.') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>