<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}

        <style>
            .wrapper-page {
                page-break-after: always;
                position: relative;
            }

            .wrapper-page:last-child {
                page-break-after: avoid;
            }

            header {
                position: fixed;
                top: 0px;
                left: 0;
                right: 0;
                height: 200px;
            }

            body {
                margin-top: 210px;
            }

            #background {
                background-image:url({{background}});
                display: block;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1000;
                background-repeat: repeat;
            }
        </style>
    </head>

    <body>
        <div id="background"></div>

        {% for jenis, d1 in data_pendapatans %}

            <div class="wrapper-page">
                <header>
                    <div class="container">
                        {% include 
                            "Report/View/partial/header.twig" 
                            with {
                                'additional': [
                                    {'value': jenis, 'label': 'Jenis'}
                                ] 
                            } 
                        %}
                    </div>
                </header>

                <main>
                    <div class="container">
                        <div class="content">
                            <div class="mb-10">
                                <span class="table-title">{{jenis}}</span>
                            </div>
                            <table class="table-content">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Deskripsi</th>
                                        <th>Jumlah</th>
                                        <th>Sub Total</th>
                                        <th>Potongan</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for d2 in d1 %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ d2.deskripsi }}</td>
                                            <td>{{ d2.qty|number_format(0, ',', '.') }}</td>
                                            <td>{{ d2.sub_total|number_format(0, ',', '.') }}</td>
                                            <td>{{ d2.potongan|number_format(0, ',', '.') }}</td>
                                            <td>{{ d2.total|number_format(0, ',', '.') }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="bold">
                                        <td class="bg-transparent" colspan="1"></td>
                                        <td class="bg-red">Total</td>
                                        <td class="bg-red">{{ total_pendapatans[jenis]['qty']|number_format(0, ',', '.') }}</td>
                                        <td class="bg-red">{{ total_pendapatans[jenis]['sub_total']|number_format(0, ',', '.') }}</td>
                                        <td class="bg-red">{{ total_pendapatans[jenis]['potongan']|number_format(0, ',', '.') }}</td>
                                        <td class="bg-red">{{ total_pendapatans[jenis]['total']|number_format(0, ',', '.') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>

        {% endfor %}

        <div class="wrapper-page">
            <header>
                <div class="container">
                    {% include 
                        "Report/View/partial/header.twig" 
                        with {
                            'additional': [
                                {'value': 'Pengeluaran', 'label': 'Jenis'}
                            ] 
                        } 
                    %}
                </div>
            </header>

            <main>
                <div class="container">
                    <div class="content">
                        <div class="mb-10">
                            <span class="table-title">Pengeluaran</span>
                        </div>
                        <table class="table-content">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Deskripsi</th>
                                    <th>Jumlah</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            {% for pengeluaran in pengeluarans %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ pengeluaran.nama }}</td>
                                    <td>{{ pengeluaran.jumlah|number_format(0, ',', '.') }}</td>
                                    <td>{{ pengeluaran.total|number_format(0, ',', '.') }}</td>
                                </tr>
                            {% endfor %}

                            <tr class="bold">
                                <td class="bg-transparent" colspan="2"></td>
                                <td class="bg-red">Total Pengeluaran</td>
                                <td class="bg-red">{{ total_pengeluaran|number_format(0, ',', '.') }}</td>
                            </tr>
                        </table>   


                        <div class="border-black my-30"></div>
            
                        <div class="report-footer">
                            <span>Total Laba Bersih</span><span>{{ total_laba|number_format(0, ',', '.') }}</span>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </body>
</html>