<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}
    </head>

    <body style="background-image:url({{background}})">
        
        <div class="container">
            {% include "Report/View/partial/header.twig" %}
            
            <div class="content">
                <div class="mb-10">
                    <span class="table-title">Pendapatan</span>
                </div>
                <table class="table-content">
                    <tr>
                        <th>No</th>
                        <th>Deskripsi</th>
                        <th>Jumlah</th>
                        <th>Total</th>
                    </tr>
                    {% for pendapatan in pendapatans %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ pendapatan.deskripsi }}</td>
                            <td>{{ pendapatan.qty|number_format(0, ',', '.') }}</td>
                            <td>{{ pendapatan.total|number_format(0, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="bold">
                        <td class="bg-transparent" colspan="2"></td>
                        <td class="bg-red">Total Pendapatan</td>
                        <td class="bg-red">{{ total_pendapatan|number_format(0, ',', '.') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>