<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}

        <style>
            @font-face {
                font-family: 'fireflysung';
                font-style: normal;
            }

            @font-face {
                font-family: 'SimSun';
                font-style: normal;
            }

            .mandarin {
                font-family: 'SimSun', 'fireflysung', sans-serif;
            }

            .wrapper-page {
                page-break-after: always;
                position: relative;
            }

            .wrapper-page:last-child {
                page-break-after: avoid;
            }

            header {
                position: fixed;
                top: 0px;
                left: 0;
                right: 0;
                height: 200px;
            }

            body {
                margin-top: 210px;
            }

            #background {
                background-image:url({{background}});
                display: block;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1000;
                background-repeat: repeat;
            }
        </style>
    </head>

    <body>
        <div id="background"></div>

        {% set nomor = 1 %}

            {% for jenis, d1 in data %}

                <div class="wrapper-page">
                    <header>
                        <div class="container">
                            {% include 
                                "Report/View/partial/header.twig" 
                                with {
                                    'additional': [
                                        {'value': kursus_lists[loop.index - 1], 'label': 'Kursus'},
                                        {'value': jenis_pembayaran_list[jenis], 'label': 'Jenis Pembayaran'}
                                    ] 
                                } 
                            %}
                        </div>
                    </header>

                    <main>
                        <div class="container">
                            <div class="content">
                                <div class="mb-10">
                                    <span class="table-title">Pendapatan Guru</span>
                                </div>
                                <table class="table-content">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nama Siswa</th>
                                            <th>Kode Tagihan</th>
                                            <th>Tanggal Tagihan</th>
                                            <th>Tanggal Lunas</th>
                                            <th>Kursus</th>
                                            <th>Nama Item</th>
                                            <th>Harga Total</th>
                                            <th>% Komisi</th>
                                            <th>Komisi</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% set total = 0 %}
                                        {% for tagihan_detail in d1 %}
                                            {% set total = total + tagihan_detail.komisi %}
                                            <tr>
                                                <td>{{ nomor }}</td>
                                                <td>{{ tagihan_detail.nama_siswa }}</td>
                                                <td>{{ tagihan_detail.kode_tagihan }}</td>
                                                <td>{{ tagihan_detail.tanggal_tagihan == '-' ? tagihan_detail.tanggal_tagihan : tagihan_detail.tanggal_tagihan|date("d/m/Y") }}</td>
                                                <td>{{ tagihan_detail.tanggal_lunas == '-' ? tagihan_detail.tanggal_lunas : tagihan_detail.tanggal_lunas|date("d/m/Y") }}</td>
                                                <td>{{ tagihan_detail.kursus }}</td>
                                                <td>{{ tagihan_detail.nama_item }}</td>
                                                <td>{{ tagihan_detail.harga_total|number_format(0, ',', '.') }}</td>
                                                <td>                                                    
                                                    {% if tagihan_detail.jenis_komisi != 'n' %}
                                                       {{ tagihan_detail.persen_komisi }} %
                                                    {% else %}
                                                        {{ tagihan_detail.persen_komisi|number_format(0, ',', '.') }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ tagihan_detail.komisi|number_format(0, ',', '.') }}</td>
                                            </tr>
                                            {% set nomor = nomor + 1 %}
                                        {% endfor %}
                                    </tbody>

                                    <tr class="bold">
                                        <td class="bg-transparent" colspan="6"></td>
                                        <td colspan="3" class="bg-red">Total Pendapatan</td>
                                        <td class="bg-red">{{ total|number_format(0, ',', '.') }}</td>
                                    </tr>
                                    {% for pg in potongan_gaji %}
                                        <tr class="bold">
                                            <td class="bg-transparent" colspan="6"></td>
                                            {% if pg.asisten_guru|isMandarin %}
                                            <td colspan="3" class="bg-red">Potong Gaji <span class="mandarin">{{ pg.asisten_guru }}</span> Bulan {{ periode }}</td>
                                            {% else %}
                                            <td colspan="3" class="bg-red">Potong Gaji <span>{{ pg.asisten_guru }}</span> Bulan {{ periode }}</td>
                                            {% endif %}
                                            <td class="bg-red">{{ pg.nominal|number_format(0, ',', '.') }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </main>

                    {% if loop.last %}
                        <footer>
                            <div class="border-black my-30"></div>
        
                            <div class="report-footer">
                                <span>Total Semua Pendapatan</span><span>{{ (total_pendapatan - total_potongan_gaji)|number_format(0, ',', '.') }}</span>
                            </div>
                        </footer>
                    {% endif %}
                </div>
                
            {% endfor %}
    </body>
</html>