<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}

        <style>
            header {
                position: fixed;
                top: 0px;
                left: 0;
                right: 0;
                height: 200px;
            }

            body {
                margin-top: 210px;
            }

            #background {
                background-image:url({{background}});
                display: block;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1000;
                background-repeat: repeat;
            }
        </style>
    </head>

    <body>

        <div id="background"></div>
        
        <div class="container">
            <header>
                <div class="container">
                    {% include "Report/View/partial/header.twig" %}
                </div>
            </header>
            
            <div class="content">
                <div class="mb-10">
                    <span class="table-title">Pendapatan</span>
                </div>
                <table class="table-content">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Deskripsi</th>
                            <th>Jumlah</th>
                            <th>Sub Total</th>
                            <th>Potongan</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for pendapatan in pendapatans %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ pendapatan.deskripsi }}</td>
                            <td>{{ pendapatan.qty|number_format(0, ',', '.') }}</td>
                            <td>{{ pendapatan.sub_total|number_format(0, ',', '.') }}</td>
                            <td>{{ pendapatan.potongan|number_format(0, ',', '.') }}</td>
                            <td>{{ pendapatan.total|number_format(0, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="bold">
                        <td class="bg-transparent" colspan="1"></td>
                        <td class="bg-red">Total</td>
                        <td class="bg-red">{{ total_qty|number_format(0, ',', '.') }}</td>
                        <td class="bg-red">{{ total_sub_total|number_format(0, ',', '.') }}</td>
                        <td class="bg-red">{{ total_potongan|number_format(0, ',', '.') }}</td>
                        <td class="bg-red">{{ total_pendapatan|number_format(0, ',', '.') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>