<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}
    </head>

    <body style="background-image:url({{background}})">
        
        <div class="container">
            {% include "Report/View/partial/header.twig" %}
            
            <div class="content">
                <div class="mb-10 mt-20">
                    <span class="table-title">Cicilan Tabungan Aset</span>
                </div>
                <table class="table-content">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal</th>
                            <th>Nominal</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for cicilan_aset in cicilan_asets %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ cicilan_aset.tanggal|date("d/m/Y") }}</td>
                                <td>{{ cicilan_aset.nominal|number_format(0, ',', '.') }}</td>
                            </tr>
                        {% endfor %}

                        <tr class="bold">
                            <td class="bg-transparent" colspan="1"></td>
                            <td class="bg-red">Total</td>
                            <td class="bg-red">{{ total_cicilan|number_format(0, ',', '.') }}</td>
                        </tr>
                    </tbody>
                </table>


                <div class="mb-10 mt-50">
                    <span class="table-title">Penarikan Tabungan Aset</span>
                </div>
                <table class="table-content">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal</th>
                            <th>Nominal</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for penarikan in penarikans %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ penarikan.tanggal|date("d/m/Y") }}</td>
                                <td>{{ penarikan.nominal|number_format(0, ',', '.') }}</td>
                            </tr>
                        {% endfor %}

                        <tr class="bold">
                            <td class="bg-transparent" colspan="1"></td>
                            <td class="bg-red">Total</td>
                            <td class="bg-red">{{ total_penarikan|number_format(0, ',', '.') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>