<html>
    
    <head>
        {% include "/Report/View/partial/style.twig" %}

        <style>
            .wrapper-page {
                page-break-after: always;
                position: relative;
            }

            .wrapper-page:last-child {
                page-break-after: avoid;
            }

            header {
                position: fixed;
                top: 0px;
                left: 0;
                right: 0;
                height: 200px;
            }

            body {
                margin-top: 210px;
            }

            #background {
                background-image:url({{background}});
                display: block;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1000;
                background-repeat: repeat;
            }
        </style>
    </head>

    <body>
        <div id="background"></div>

        {% for jenis, d1 in data %}

            <div class="wrapper-page">
                <header>
                    <div class="container">
                        {% include 
                            "Report/View/partial/header.twig" 
                            with {
                                'additional': [
                                    {'value': jenis, 'label': 'Jenis'}
                                ] 
                            } 
                        %}
                    </div>
                </header>

                <main>
                    <div class="container">
                        <div class="content">
                            <div class="mb-10">
                                <span class="table-title">{{jenis}}</span>
                            </div>
                            <table class="table-content">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Tanggal</th>
                                        <th>Nama</th>
                                        <th>Harga Total</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for d2 in d1 %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ d2.tanggal|date("d/m/Y") }}</td>
                                            <td>{{ d2.nama }}</td>
                                            <td>{{ d2.total|number_format(0, ',', '.') }}</td>
                                        </tr>
                                    {% endfor %}

                                    <tr class="bold">
                                        <td class="bg-transparent"></td>
                                        <td class="bg-black text-right" colspan="2">Total</td>
                                        <td class="bg-black">{{ total[jenis]|number_format(0, ',', '.') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>

        {% endfor %}

    </body>
</html>