<table class="header">
    <tr>
        <td style="width: 50%;">
            <table>
                <tr><td><div class="logo-container"></div></td></tr>
                <tr><td class="small text-center font-weight-bold" style="white-space: pre-line">{{ report_info.alamat }}</td></tr>
                <tr><td class="small text-center font-weight-bold">Hp : {{ report_info.no_hp }}</td></tr>
                <tr><td class="small text-center font-weight-bold">Email : {{ report_info.email }}</td></tr>
            </table>
        </td>

        <td style="width: 50%;">
            <div class="title color-red pt-30">Kwitansi <span class="mandarin">(收款收据)</span></div>
            <table class="report-table font-weight-bold">
                <tr>
                    <td class="pr-10 fn-20">NO. </td>
                    <td class="fn-20 mandarin"> (收款号码) </td>
                    <td class="fn-20 pr-10">&nbsp; :</td>
                    <td class="color-red fn-25">{{nomor}}</td>
                </tr>
                <tr>
                    <td class="pr-10 fn-20 pt-20">TGL. </td>
                    <td class="fn-20 mandarin pt-20"> (收据日期) </td>
                    <td class="fn-20 pr-10 pt-20">&nbsp; :</td>
                    <td>
                        <div class="fn-25 border-bottom pt-20" style="width: 130px">{{ "now"|date("d/m/Y") }}</div>
                    </td>
                </tr>
            </table>
        </td>
            
    </tr>
</table>